<div>
  <canvas id="tChart" width="900" height="400"></canvas>
</div>
<div>
  <canvas id="hChart" width="900" height="400"></canvas>
</div>
<div>
  <canvas id="pChart" width="900" height="400"></canvas>
</div>


<%= javascript_tag "buildCharts(#{@all.to_json.html_safe})" %>
