<% flash.each do |key, value| %>
<div role="alert" class="alert alert-<%= key %>">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong><%= key.capitalize %>!</strong>
  <%= value %>
</div>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form class="form-inline">
      <div class="form-group">
        <label for="from">From</label>
        <input type="text" class="form-control" id="from" placeholder="">
      </div>
      <div class="form-group">
        <label for="to">To</label>
        <input type="text" class="form-control" id="to" placeholder="">
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <input id='hourly' type="checkbox" checked>
            Hourly
          </label>
        </div>
      </div>
      <button id='load' class="btn btn-default">Update Charts</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="inline col-md-4">
    <canvas width="300" height="200" id="temp"></canvas>

  </div>
  <div class="inline col-md-4">
    <canvas width="300" height="200" id="hum"></canvas>

  </div>
  <div class="inline col-md-4">
    <canvas width="300" height="200" id="press"></canvas>

  </div>
</div>

<!-- <div class="row">
  <div>
    <a href="/data" class="btn btn-default" role="button">Whole recordered Data</a>
  </div>

  <div>
    <a href="/data/hourly" class="btn btn-default" role="button">Whole houlry Data</a>
  </div>

  <div>
    <a href="/data/last24h" class="btn btn-default" role="button">Data 24H</a>
  </div>

  <div>
    <a href="/data/last24h_hourly" class="btn btn-default" role="button">Data 24H hourly</a>
  </div>
</div> -->
